<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omdb.rohksin.Mangoose" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mangoose"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.DetailActivities.MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.ListActivities.ImageListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.ListActivities.ActorListActivity"/>
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.ListActivities.CrewListActivity"/>
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.DetailActivities.PeopleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.ListActivities.RoleListActivity"
            />
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.PreviewImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.FutureActivities.TVShowDetailActivity"/>
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.FutureActivities.SeasonDetailActivity"/>
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.FutureActivities.EpisodeDetailActivity"/>
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.FutureActivities.FilterMovieActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name="com.omdb.rohksin.Mangoose.ObjectOrientedSearch.HomePage.MainSearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>

        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.ComingsoonActivity"/>
        <activity android:name="com.omdb.rohksin.Mangoose.Redesign.Activities.BiographyActivity"/>

    </application>

</manifest>
